In [1]:
import numpy as np
import pandas as pd
from sklearn import datasets,linear_model
from sklearn.model_selection import train_test_split
#from sklearn.datasets import load_bosten

In [2]:
# load boston data using sklearn datasets
boston=datasets.load_boston()

# seprate data and target  
x=boston.data
y=boston.target
#print(x,y)

In [3]:
#tabular data structure with labeled axes (rows and columns)
df_x=pd.DataFrame(x,columns=boston.feature_names)
df_y=pd.DataFrame(y)
#print(df_x)
#print(df_y)

In [4]:
# create a model
reg=linear_model.LinearRegression()

In [5]:
#split data 
x_train,x_test,y_train,y_test=train_test_split(df_x,df_y,test_size=0.30,random_state=1)

In [6]:
#fit the model
reg.fit(x_train,y_train)

LinearRegression()

In [7]:
#Y=mx+c or Y=b0+b1x
# m and b1 is coefficient
reg.coef_

array([[-9.85424717e-02,  6.07841138e-02,  5.91715401e-02,
         2.43955988e+00, -2.14699650e+01,  2.79581385e+00,
         3.57459778e-03, -1.51627218e+00,  3.07541745e-01,
        -1.12800166e-02, -1.00546640e+00,  6.45018446e-03,
        -5.68834539e-01]])

In [8]:
# c and b0 is intercept
reg.intercept_

array([46.39649387])

In [9]:
# predict tne model
y_pred=reg.predict(x_test)

In [10]:
y_pred

array([[32.3914647 ],
       [27.94401279],
       [17.83762764],
       [21.66941388],
       [18.93639614],
       [20.01995795],
       [32.63414961],
       [17.86179976],
       [24.73211676],
       [26.77346826],
       [27.26138023],
       [28.63243014],
       [21.16103038],
       [27.15098589],
       [23.33198614],
       [21.02894005],
       [17.11819755],
       [37.52455938],
       [30.69864427],
       [ 8.46104486],
       [20.83966032],
       [16.26732451],
       [25.05030307],
       [24.8069032 ],
       [31.6789299 ],
       [10.98989363],
       [13.54111562],
       [16.54697099],
       [35.86699683],
       [14.69589266],
       [21.05655107],
       [13.90301353],
       [43.01321262],
       [17.80335305],
       [21.68817023],
       [20.45077825],
       [17.38095983],
       [26.81334904],
       [10.08706217],
       [19.96174586],
       [24.1983249 ],
       [21.00202622],
       [29.38682967],
       [16.33215467],
       [19.37439646],
       [14.45525235],
       [39.52670798],
       [18.18535021],
       [26.38536303],
       [20.41420863],
       [25.08511581],
       [24.40208165],
       [24.87902769],
       [26.97887956],
       [ 4.93921657],
       [24.0001365 ],
       [10.66711602],
       [26.98494775],
       [16.63507993],
       [35.31652989],
       [19.49249915],
       [27.37577863],
       [16.53965715],
       [19.09746715],
       [11.06765336],
       [32.03445261],
       [36.15847648],
       [21.53547868],
       [24.96434626],
       [25.50601154],
       [23.41203509],
       [ 7.20513615],
       [16.8659937 ],
       [20.06269471],
       [20.61979368],
       [21.97238475],
       [34.25908683],
       [27.9998298 ],
       [24.95261644],
       [34.74201458],
       [18.63786454],
       [23.95355085],
       [34.50655345],
       [13.15979729],
       [20.53691051],
       [30.29844955],
       [16.932953  ],
       [24.29285934],
       [19.11800155],
       [16.9848188 ],
       [26.80165303],
       [40.90027245],
       [14.43790215],
       [23.20589688],
       [15.39439519],
       [21.77332361],
       [22.85660249],
       [29.45718412],
       [36.54373379],
       [20.36577747],
       [18.01790611],
       [17.41615519],
       [25.23381893],
       [21.98069747],
       [ 8.3160445 ],
       [21.49942727],
       [16.565317  ],
       [33.22680671],
       [24.39944797],
       [24.99055027],
       [38.37532568],
       [28.82033178],
       [14.76287071],
       [34.72063358],
       [35.40686066],
       [32.93299015],
       [20.95996646],
       [16.74324182],
       [34.54769634],
       [38.9463732 ],
       [21.47971843],
       [15.54203787],
       [27.46719043],
       [18.62729405],
       [27.3819011 ],
       [21.13549164],
       [26.24403323],
       [22.22010257],
       [23.34295812],
       [28.29923408],
       [20.53788412],
       [23.94639233],
       [29.8421088 ],
       [10.55075792],
       [27.02280253],
       [32.41641579],
       [13.94180705],
       [13.62057726],
       [33.00870341],
       [14.2836798 ],
       [17.70899424],
       [16.30194776],
       [17.14377392],
       [28.71467061],
       [34.07548297],
       [20.31288796],
       [24.55801246],
       [17.32995936],
       [28.3602341 ],
       [20.79422791],
       [33.6981572 ],
       [13.51882716]])

In [11]:
y_test

        0
307  28.2
343  23.9
47   16.6
67   22.0
362  20.8
..    ...
467  19.1
95   28.4
122  20.5
260  33.8
23   14.5

[152 rows x 1 columns]

In [12]:
# MSE(Mean Squared Error) using formula
np.mean((y_pred-y_test)**2)

0    19.831324
dtype: float64

In [13]:
# MSE using libreary
from sklearn.metrics import mean_squared_error

mean_squared_error(y_pred,y_test)

19.831323672062975